
//
// VARIABLES
//

// Colors
$blue: #8291B3;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #222729;
$gray: #666666;
$lightGray: #ffffff80;
$white:#fff;

// Font stacks
$bebas: 'Bebas Neue', serif;
$lato: 'Lato', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}